.list-group
  %a.list-group-item.active{:href => "#"}
    Cras justo odio
  %a.list-group-item{:href => "#"} Dapibus ac facilisis in
  %a.list-group-item{:href => "#"} Morbi leo risus
  %a.list-group-item{:href => "#"} Porta ac consectetur ac
  %a.list-group-item{:href => "#"} Vestibulum at eros
